<a href="https://colab.research.google.com/github/alfonsoayalapaloma/etl/blob/main/02_Taller_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üõ†Ô∏è Taller SQL

Felicitaciones! Has sido nombrado **Ingeniero de Datos**, y ya tienes tu primera asignaci√≥n. üöÄ

Debes conectarte a una base de datos **SQLite3**, documentar su estructura, y realizar en ella varias consultas pedidas por el negocio.

Esto se debe hacer porque el ingeniero anterior fue contratado para una misi√≥n a Marte y se fue sin decir ‚Äúadi√≥s‚Äù y no dej√≥ documentaci√≥n alguna. ü™ê

¬°Buena suerte! üçÄ

## üìÇ Estructura de la Base de Datos
La base de datos contiene las siguientes tablas:

## üóÇÔ∏è Diagrama Entidad-Relaci√≥n (E/R)
Representaci√≥n de las entidades (tablas) y sus relaciones (llaves primarias y for√°neas).

## üìë Tabla de Metadatos

Nombre Entidad:

| Campo | Tipo | Tama√±o | ¬øNulo? | Llave Primaria | Llave For√°nea | Descripci√≥n | Ejemplo |
|-------|------|--------|--------|----------------|---------------|-------------|---------|
|       |      |        |        |                |               |             |         |
|       |      |        |        |                |               |             |         |
|       |      |        |        |                |               |             |         |

---

Nombre Entidad:

| Campo | Tipo | Tama√±o | ¬øNulo? | Llave Primaria | Llave For√°nea | Descripci√≥n | Ejemplo |
|-------|------|--------|--------|----------------|---------------|-------------|---------|
|       |      |        |        |                |               |             |         |
|       |      |        |        |                |               |             |         |
|       |      |        |        |                |               |             |         |

## üß© Ejercicios SQL
Resuelve las siguientes preguntas utilizando SQL:

1. ¬øCu√°les son las √°reas de la empresa?
2. ¬øCu√°ntos empleados tiene la empresa?
3. ¬øCu√°les son los nombres y cargos de todos los empleados?
4. ¬øQu√© empleados tienen un salario mayor a 50000?
5. ¬øCu√°l es el salario promedio por cargo?
6. ¬øCu√°les son los empleados, cargos y √°reas de cada uno?
7. ¬øCu√°ntos empleados hay por √°rea?
8. ¬øQu√© √°reas tienen un salario promedio mayor a 55000?
9. ¬øQu√© empleados pertenecen al √°rea de 'Tecnolog√≠a'? Mostrar tambi√©n el cargo.
10. ¬øCu√°l es el √°rea con mayor n√∫mero de empleados?
11. ¬øQu√© empleados tienen el cargo de 'Gerente'?
12. ¬øCu√°l es el salario total pagado por √°rea?
13. Exporta la tabla de empleados con sus √°reas a un archivo CSV separado por '|'. Incluye todos los campos de cada tabla.

## üí° Hint: Realizar Consultas en Python
Para realizar consultas a la base `banco.db`, puedes usar el siguiente c√≥digo:

In [ ]:
import sqlite3
import pandas as pd

# Conexi√≥n a base de datos
conn = sqlite3.connect("banco.db")

# Ejemplo de consulta SELECT
df_select = pd.read_sql_query("SELECT nombre, cargo FROM empleado", conn)
print(df_select)

## üí° Hint: Exportaci√≥n de Datos
Para exportar la tabla de empleados con sus √°reas a un archivo CSV separado por `|`, puedes usar:

In [ ]:
# Supongamos que df es el DataFrame con empleados y sus √°reas
df.to_csv('empleados_con_area.csv', sep='|', index=False)